.drum-machine {
  background-color: #dcdcdc;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
}

.drum-pads {
  height: 75vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drum-pad {
  border: 1px solid black;
  height: 17vh;
  width: 17vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #84eeff;
}